@model IEnumerable<AFS_Visicon.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Table of users</h2>



<table id="userDataTable" class="display">
    <thead class="table-bordered">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p>
    <input type="button" class="btn btn-success btn-lg" value="Create new user" onclick="location.href='@Url.Action("Create", "User")'" />
</p>

<div class="divContent"/>